@import "../../styles/variables.scss";
@import "../../styles/functions.scss";

.container {
  height: 90vh;
  margin-top: 10vh;
  overflow-y: hidden;

  .options {
    height: 10vh;
    padding-top: 40px;
    .role,
    .leftOver,
    .price {
      @include flexCenter(row, center);
    }
    .leftOver {
      .leftOverCard {
        padding: 1em;
        color: $background-color;
      }
    }
    .role {
      .inputLabel {
        color: $background-color;
      }
      .select {
        width: 150px;
        color: $background-color;
      }
    }
    .price {
      flex-direction: column;
      margin-top: 3em;
      .slider {
        width: 300px;
        margin: auto !important;
        color: $primary-color;
      }
    }
  }
  .playerCardContainer {
    overflow-y: auto;
    height: 70vh;
  }
}

.playerCardGrid {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
}

// cards
.playerCard {
  height: 200px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  &:hover {
    cursor: pointer;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover !important;
  }
  .text {
    text-align: center;
  }
}
